body{
    background-color: rgb(252, 252, 252);
    font-family: sans-serif;
}
.nav{
    background-color: rgb(35, 35, 101);
    font-family: serif;
    margin: auto;
    max-width: 1500px;
}
.cards-section{
    margin: auto;
    max-width: 1500px;
}
.logo{
    text-decoration: underline;
}
.nav-links{
    color: white;
}
.slide-images{
    background-color: rgb(40, 40, 109);
}

h1{
    margin-top: 30px;
    font-family: "Great Vibes", cursive;
    font-size: 58px;
    color: #000;
    text-align: center;
    margin-top: 100px;
    color: rgb(40, 40, 109);
}

.title{
    color: rgb(40, 40, 109);
    text-align: center;
    font-size: 20px;
    font-weight: 500;
    font-family: sans-serif;
}
.cards{
    box-shadow: 2px 2px 10px rgb(40, 40, 109);
    border: 1px solid rgb(40, 40, 109);
}
ins{
    text-align: center;
    font-size: 20px;
    color: rgb(40, 40, 109);
    font-weight: 600;
}
del{
    color: red;
    font-weight: 600;
    font-size: 20px;
}
span{
    color: #8a8a8a;
}
.overlay{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    background-color: #000;
    opacity: 0.75;
}
footer{
    background-color: rgb(35, 35, 101);
    font-family: serif;
}
.icons{
    width: 30px;

}

input, textarea{
    border: 2px solid rgb(35, 35, 101);
    box-shadow: 2px 2px 5px rgb(35, 35, 101);
}

.form{
    box-shadow: 5px 5px 10px #232365;
}
h2{
    color: #232365;
    font-family: serif;
}
label{
    color: #232365;
    font-family: sans-serif
}
.order-btn{
    background-color: transparent;
    border: 2px solid #232365;
    color: #232365;
}
.order-btn:hover{
    background-color: #232365;
    color: white;
}